.clients{
    /* background: #fff; */
    text-align: center;  
    margin: 50px; 
}

.clients h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0;
    font-size: 36px;
    color: blue;
}

.clients hr{
    width: 40px;
    height: 1px;
    background-color: red;
    margin-bottom: 20px;
}

.clients p{
    font-size: 20px;    
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0;
    color: #fff;
}

.clients_logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients_logos img{
    max-width: 500px;
    width: 140px;
    height: 100px;
    margin: 10px;
    border-radius: 10%;
    /* padding: 10px; */
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0 0 0.1rem rgb(231, 215, 215));
}

@media screen and (max-width: 810px){
    .clients{
        padding: 0;
    }
    .clients h1{
        font-size: 30px;
    }
    .clients p{
        font-size: 15px;
    }

    .logo3, .logo4{
        display: none;
    }
    
    .clients_logos{
        flex-direction: column;
    }
    
}


/* cleints.css */

.whatwedo {
    padding: 2rem;
}
  
.product-card {
    position: relative; /* Add this to establish a stacking context */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #ff0000;
    transition: width 0.3s ease-out;
}

.product-card:hover::before {
    width: 100%;
}

.product-info {
    padding: 20px;
}

.product-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    color: #666;
}

.whatwedo h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 0;
    font-size: 36px;
    color: blue;
}

.whatwedo hr {
    width: 40px;
    height: 1px;
    background-color: red;
    margin-bottom: 20px;
}


@media screen and (max-width: 670px) {
    .whatwedo {
        padding: 0;
    }
    .whatwedo h1 {
        font-size: 30px;
    }
    .whatwedo p {
        font-size: 15px;
    }
    .product-image {
        width: 100px;
        height: 120px;
        margin-right: 20px;
        object-fit: cover;
    }
    .product-info {
        padding: 10px;
    }
    .product-card {
        margin-bottom: 20px;
    }
    .product-card::before {
        height: 2px;
    }
    
}