.body{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;    
}

.body .image{
    top: 1rem;
    position: absolute;
    width: 100%;
    height: 600px;
    
    /* overflow: hidden; */
    /* animation: popsideleft 2s ease-in-out forwards; */
}
.body .image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(2, 2, 2, 0.329); /* Red color with 50% opacity */
    z-index: 1;
  }

.body .image img{
    position: absolute;
    width: 100%;
    max-height: 600px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px );
    
}

@keyframes popsideleft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}



.body .image img:hover{
    transform: scale(1.01);
    /* make some blur on the image some color on the image*/
    /* filter: blur(5px);     */
    background: rgba(0, 0, 0, 0.5);
    /* transition: all 0.5s ease-in-out; */

}

.body .btn{
    position: absolute;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* animation: popsideright 2s ease-in-out forwards; */
}

@keyframes popsideright{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


.body .btn p{
    max-width: 300px;
    font-size: 20px;
    font-weight: 300;
    /* font-family: 'Times New Roman', Times, serif; */
    text-align: center;
    margin-top: 20px;
    
}


.body .btn button{
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    /* font-family: 'Times New Roman', Times, serif; */
    cursor: pointer;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

.body .btn button:hover{
    background-color: gray;
    color: #21209C;
    transition: all 0.5s ease-in-out;
}

.read{
    background-color: brown;
}

.contactupper{
    background-color: #21209C;
}


@media screen and (max-width: 800px){
    .body{
        flex-direction: column;
    }
    
    .body .image img{
        position: absolute;
        width: 100%;
        height: 600px;
        top: 0;
        left: 0;
        right: 0;
    }
    .body .btn{
        padding: 0;
    }
    .body .btn p{
        font-size: 15px;
    }
    .body .btn button{
        font-size: 15px;
    }
}
    
