/* header.css */
.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 20px solid #fff;
  min-width: 20rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #333;
  text-decoration: none;
}

.icon-image {
  margin-right: 10px;
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Change to the color you prefer */
}
