/* header.css */
.navbar{
  background-color: #1b0101;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  /* border: 20px solid #fff; */
  min-width: 20rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  color: #333;
  text-decoration: none;
}

